<li {{action "open"}}>
  <strong>{{item.title}}</strong><br> <em>Status :</em> {{item.status.name}}
</li>

{{#if isShowingModal}}
  {{#modal-dialog close="close" clickOutsideToClose=true}}

    <div class="modal">
      <h3>Test creation confirmation</h3>
      You want to create <strong>{{item.title}}</strong>

      <p>
        <button {{action "createTest"}}>Create Test ${{item.title}}!</button>
      </p>

      <p>
        <em>Thank you! We will e-mail you your e-book</em>
      </p>

    </div>

  {{/modal-dialog}}
{{/if}}